* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

header {
   padding: 8px 16px;
   display: flex;
   align-items: center;
   background-color: hsla(271, 35%, 52%, 0.473);
   position: sticky;
   border: 2px solid white;
}

.logo {
   color: rgb(112, 5, 212);
   font-weight: bold;

}

header b {
   margin: 0px 20px;
   color: #884646;
}

.nav-button {
   border-radius: 20px;
   justify-content: center;
   border: none;
   background-color: rgb(168, 53, 91);
   cursor: pointer;
   top: 0;
   position: absolute;
   margin: 0px 500px;
   padding: 8px 4px;
   text-align: center;
   align-items: center;
   width: 150px;
   font-weight: bold;
   color: white;
}

.navigation {
   top: 0;
   margin: 20px 500px;
   position: absolute;
}

.navigation ul {
   list-style: none;
   gap: 20px;
   display: flex;
}

.navigation a {
   text-decoration: none;
   color: rgb(145, 53, 84);
   font-weight: bold;
   font-size: 20px;
   padding: 4px 8px;
   border-radius: 4px;
   transition: background-color 0.3 ease;
}

.navigation a:hover {
   background-color: #55555550;
}

.background-section {
   background-image: url("assests/bg2.jpg");
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   max-height: 400vh;
   padding: 150px 100px;
}

.card {
   padding: 20px 10px;
   background-color: white;
   border-radius: 20px;
   max-width: 350px;
   box-shadow: 2px 8px 15px rgba(106, 17, 179, 0.973);

}

.button-1 {
   margin: 6px 10px;
   margin-top: 10px;
   border-radius: 20px;
   color: white;
   padding: 8px 8px;
   border: none;
   background-color: rgb(168, 53, 91);
   font-weight: bold;
   cursor: pointer;
}

.card2 {
   margin: 30px 50px;
   padding: 6px 4px;
   background-color: white;
   border-radius: 20px;
   max-width: 350px;
   border: #8509748c solid;
}

.card2 h2 {
   justify-content: center;
   text-align: center;
   margin: 10px 2px;
}

.card2 b {
   margin: 50px 70px;
}

.card2 p {
   margin: 20px 0px;
}

.logo2 {
   margin: 0px 120px;
}

.card2 p {
   color: blue;
}

.container h2 {
   color: rgb(112, 5, 212)
}

.container {
   padding: 20px;
   align-items: center;
   display: flex;
}

.box {
   border-radius: 190px;
   width: 250px;
   text-align: center;
   background-color: #333;
   padding: 20px;
   display: flex;
   opacity: 0.9;
   color: white;
}

.link {
   height: 4px;
   width: 30px;
}
.services h1 {
   color: rgb(112, 5, 212);
}

.services h3 {
   color: rgb(145, 53, 84);
   margin-left: 15px;
}

.middle {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.drycl img {
   margin-left: 400px;
   padding: 20px 20px;
   margin-top: 10px;
   border: 20px solid purple;
}

.dry b {
   margin-left: 10px;
}

.laundry img {
   margin-left: 400px;
   margin-top: 10px;
   padding: 20px 20px;
   border: 20px solid purple;
}

.footer footer {
   margin: 10px 10px;
}

.footer h4 {
   color: rgb(112, 5, 212);
   margin-left: 10px;
}

.footer ul {
   display: table-column;
}

.containers4 img {
   margin: 150px 400px;
   border: 5px solid purple;
   padding: 2px 2px;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover;
}

.containers5 img {
   top: 0;
   margin: 120px 580px;
   padding: 2px 2px;
   position: absolute;
   border: 5px solid purple;
   width: 100px;
   height: 100px;
   border-radius: 50%;
}

.headings {
   top: 0;
   position: absolute;
   margin: 150px 70px;
   padding: 20px 20px;
}

.headings h1 {
   color: purple;
   margin-bottom: 5px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headings h5 {
   color: rgb(170, 50, 70);
   font-size: 15px;
}

.Allboxes {
   display: flex;
   justify-content: space-around;
}

.serviceBox {
   height: 114vh;
   width: 21vw;
   border: 4px solid purple;
   border-radius: 7px;
   margin: -30px 30px;
   padding: 20px 10px;
}
.serviceBox img {
   margin-top: 10px;
}
.serviceBox h2 {
   color: purple;
   margin-bottom: 10px;
}

.serviceBox hr {
   color: purple;
   border: 2px solid purple;
}

.serviceBox p {
   font-size: large;
   margin-top: 5px;
   font-weight: 600;
}

.serviceBox h3 {
   color: purple;
   margin-top: 35px;
   font-family: Arial, Helvetica, sans-serif;
}

.Drycleaningbox {
   height: 114vh;
   width: 21vw;
   border: 4px solid purple;
   border-radius: 7px;
   margin: -30px 30px;
   padding: 20px 10px;
}
.Drycleaningbox img {
   margin-top: 10px;
}
.Drycleaningbox hr {
   color: purple;
   border: 2px solid purple;
}

.Drycleaningbox h3 {
   color: purple;
   margin-top: 35px;
   font-family: Arial, Helvetica, sans-serif;
}

.Drycleaningbox p {
   font-size: large;
   margin-top: 5px;
   font-weight: 600;
}

.Drycleaningbox h2 {
   color: purple;
   margin-bottom: 10px;
}

.about-location {
   margin: 20px 0px;
}

.about-location h4 {
   margin: 5px 5px;
   color: purple;
   padding: 10px 10px;
   font-size: 20px;
}

.about-location p {
   margin: 3px 5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 10px 10px;
}

.dropdown-container {
   width: 300px;
   margin: 20px 500px;

}

.dropdown-container input {
   width: 100%;
   padding: 8px;
   box-sizing: border-box;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.dropdown-container ul {
   list-style: none;
   margin: 0;
   padding: 0;
   border: 1px solid #55555550;
   border-radius: 4px;
   border-top: none;
   max-height: 150px;
   overflow-y: auto;
   position: absolute;
   width: 100%;
   background: #fff;
   z-index: 10;
   display: none;
}

.dropdown-container ul li {
   padding: 8px;
   cursor: pointer;
}

.dropdown-container ul li:hover {
   background: #f0f0f0;
}

.dropdown-container ul li.no-results {
   color: #999;
   text-align: center;
}
.main-login {
   background-color: rgb(241, 160, 177);
   padding: 10px;
}

.login-conatiner {
   display: flex;
   padding: 20px 30px;
   border-radius: 8px;
   width: 300px;
}
.login-conatiner h2 {
   margin-bottom: 20px;
   margin-right: 50px;
}
.input-group {
   margin-bottom: 15px;
}
.input-group label {
   display: block;
   font-weight: bold;
   margin-top: 10px;
   color: rgb(110, 10, 150);
}
.input-group input {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
}
.left-section h2 {
   margin-top: 70px;
   margin-bottom: 15px;
   color: purple;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
}
.left-section {
   margin-left: 30px;
   font-weight: bold;
   color: #0f0308;
   font-size: medium;
}
.login-action {
   margin: 100px 100px;
}
.login-action h2 {
   color: purple;
}